<%= form_for(@fellowstatus) do |f| %>
  <%= f.error_messages %>




  <div class="field">
    <%= f.label :fellow_id %>
    <%= f.collection_select :fellow_id, Fellow.find(:all),
                            :id, :name, prompt: "Choose a Fellow!" %> <br>
  </div>

  <div class="field">
    <%= f.label :status_id %>
    <%= f.collection_select :status_id, Status.find(:all),
                            :id, :name, prompt: "Set a Status!" %> <br>
  </div>



<div class="actions">
  <%= f.submit %>
</div>
<% end %>
