<%= form_for(@fellowstatus, url: { action: "create", method: :put }) do |f| %>
  <%= f.error_messages %>


<%= @fellowstatus.fellow.name %>

<h2>Update Status</h2>
 <div class="field">
    <%= f.label :status %>
    <%= f.collection_select :status_id, Status.find(:all),
                            :id, :name, prompt: "Set a Status!" %> <br>
  </div>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>


