<h2>Recent Fellow Statuses!</h2>
<table class="table table-bordered" bgcolor="#FFF" style="opacity:.95">
  <tr>
    <th>Fellow</th>
    <th>Status</th>
    <th>Last Updated At</th>
    <th>History</th>
  </tr>

  <% @fellowstatuses.each do |fellowstatus| %>
    <tr>
      <td><%= fellowstatus.fellow.name %></td>
      <td><%= fellowstatus.status.name %></td>
      <td><%= fellowstatus.updated_at.strftime('%B %d, %Y') %></td>
      <td><%= link_to "History", :fellows %></td>
    </tr>
  <% end %>

</table>

<br />
<br />

<%= link_to "Look At All Statuses", :statuses %>
<%= link_to "Look At All Fellows", :fellows %>
