<!DOCTYPE html>
<html>
<head>
  <title>
<<<<<<< HEAD
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    life_cycle
  <% end %>
</title>
=======
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Life Cycle
    <% end %>
  </title>
>>>>>>> 2a03d07a601b50fc55503f52f8bb35acc012452a
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :cocoon %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
    <div class='flash' id='<%=key %>'>
      <%=value %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
